<mat-card>
  <mat-card-title>Développeur à table</mat-card-title>
  <mat-card-subtitle>Qui mange bien code mieux</mat-card-subtitle>
<img mat-card-image [src]="pasta" alt="pasta">
<mat-card-content> 
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac lacus pharetra, ullamcorper tortor sit amet, tempor
  ipsum. Ut at quam nec felis ornare vulputate non nec massa. Duis ligula mi, tincidunt eu tristique vel, venenatis at orci.
  Proin hendrerit, magna vitae imperdiet gravida, eros lacus lobortis velit, ut tincidunt nunc orci sit amet ante.
</mat-card-content>
</mat-card>
